@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

.car {
  transform: translate(0px,-55px);
  height: 500px;
  width: 830px;
  background-size: contain;
}

@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  gap: 32%;
  margin-left: 37%;
  transform: translate(-50px , -315px);
}

.wheel1 {
  width: 80px;
  height: 80px;
  background-size: contain;
  animation: 0.0001s linear 0s normal none infinite running rot;
  transform: translate(-55px , -315px);
}

.car-div {
  width: 1200px;
}

.wheel2 {
  width: 80px;
  height: 80px;
  background-size: contain;
  animation: 0.0001s linear 0s normal none infinite running rot;
  transform: translate(-5px , -315px);
}


.text-container {
  margin: -70px auto;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  text-align: left;
}
h2 {
  color: #7c7777;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
}
p {
  font-size: 40px;
  font-weight: 700;
  line-height: 79px;
}
.wrapper {
  display: flex;
  transform: translate(0px,-150px);
}

.weather {
  display: flex;
  flex-direction: column;
  transform: translate(-40px , -35px);
}
.weather img {
  background-size: contain;
  width: 22px;
  height: 22px;
  margin-top: 5px;
}
.weather img:active {
  scale: 0.9;
}
.wheels {
  display: flex;
  flex-direction: column;
  transform: translate(-40px , -35px);
}
.wheels img {
  background-size: contain;
  width: 22px;
  height: 22px;
  margin-top: 5px;
}
.wheels img:active {
  scale: 0.9;
}
.img-container {
  display: flex;
  flex-direction: column;
  transform: translate(-40px , -35px);
}
.img-container img {
  background-size: contain;
  width: 22px;
  height: 22px;
  margin-top: 5px;
}

.toggle-container {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
input[type="checkbox"] {
  display: none;
}
label {
  margin-top: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 55px;
  height: 30px;
  border-radius: 34px;
  background-color: #8b8888;
  cursor: pointer;
}
input[type="checkbox"]:checked + label {
  background-color: #4CAF50;
}
label:after {
  content: "";
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 26px;
  top: 5px;
  left: 5px;
  right: 5px;
  background-color: #fff;
  transition: 0.2s;
}
input[type="checkbox"]:checked + label:after {
  transform: translateX(24px);
}